.footer {
  height: 100%;
  width: 100vw;
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  z-index: -1;
  display: grid;
  place-items: center;
  .contact-addresses {
    width: 50;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
    color: white;

    h1 {
      font-family: "Oswald", sans-serif;
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 30px;
      letter-spacing: 2px;
    }

    p {
      margin: 10px 0, 10px;
    }
  }
}
